body{
	margin:auto;
	font-family:'Segoe UI',Roboto;
	color:#212529;
	background-color:#f5f5f5;
}
.form-control{
	width:100%;
	height:calc(1.5em + .75rem + 2px);
	border:1px solid #ced4da;
}
button{
	cursor: pointer;
	border:1px solid transparent;
	color:#fff;
	background-color:#007bff;
	border-color:#007bff;
	padding:.5rem 1rem;
	font-size:1.25rem;
	line-height:1.5;
	border-radius:.8rem;
	width:100%
}
.form-signin{
	width:100%;
	max-width:400px;
	padding:15px;
	margin:auto;
}
h1,p{
	text-align: center}
